{% extends "layout.html" %}

{% block content %}
<h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
<section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">
            {% for post in posts.items %}
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                    <div class="view overlay">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file ) }}" alt="" class="card-img-left rounded-circle">
                                <p class="card-text">{{ post.author.username }}</p>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title"><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h4>
                                <p class="card-text">{{ post.content }}</p>
                                <p class="card-text">{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
            
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if posts.page == page_num %}
        <a href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}" class="btn btn-info btn-sm mb-4">{{ page_num }}</a>
        {% else %}
        <a href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}" class="btn btn-outline-info btn-sm mb-4">{{ page_num }}</a>
        {% endif %}
    {% else %}
    {% endif %}
{% endfor %}


</section>
{% endblock %}