{% extends "base.html" %}

{% import "macro/tests.html" as cm with context %}
{% from "macro/tests.html" import test_macro %}
{% from "macro/forms.html" import input, radio, radios, textarea, checkbox, select, modal %}

{% macro cal(dt) %}
<div class="container text-center">
    <h1>{{dt | month}} 월</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          {%- for w in '일월화수목금토' %}
          <th>{{w}}</th>
          {% endfor -%}
        </tr>
      </thead>
      <tbody>
        {% for row in range(dt | sdt, dt | edt) | batch(7,'&nbsp') %}
        <tr>
          {% for col in row %}
            <td>
              {% if ((col|int) <= 0) %}
                &nbsp;
              {% else %}
                {{col | safe}}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
{% endmacro %}

{% block test %}

  <div>
    {{cal('2019-02-01')}}

    {% for mm in range(1,13) %}
      {% set dt = "%s-%s-01" % (year, mm) %}
      {{cal(dt)}}
    {% endfor %}
  </div>

  <p>{{ today | ymd('%y-%m') | safe }}</p>
  <p>{{ today | simpledate | safe }}</p>
  <p>{{ 4149 | filesizeformat() }}</p>
  <p>{{ 4096 | filesizeformat(True) }}</p>
  <p>{{ "4096.53456" | float | round(2) }}</p>

  <div>
    {% for row in range(1,32) | batch(7,'TT') %}
    <p>{{row}}</p>
    {% endfor %}
  </div>


    
  <pre>
{{ 'abc' | center(40) }}
{{ 'abcdgrdsdvdsasd' | center(40) }}
{{ ('abcdgrdsdvdsasd' * 5) | wordwrap(40) }}
{{ ('abcdgrdsdvdsasd' * 5) | truncate(40) }}
  </pre>
  <p>{{ttt}}::{{ cm.test_macro('TTTTTTTTTTTTTTT') }} </p>
	<p>{{ test_macro('QQQQQQQQQ') }} </p>

    {% call(x) cm.test_macro2('Hong', 'bbb') %}
      <p> This is app.html.call block : {{x}} </p>
    {% endcall %}
    
	<input type="text" id="userid" name="userid" value="123" class="form-control">
	{{input('password','pw')}}
	<textarea name="" id="" rows="5" class="form-control"></textarea>
	

	<form action="" class="container">
		<div class="form-group">
			{{radio('r1','rdo','val1','Value1')}}
			{{radio('r2','rdo','val2','Value2','checked')}}
			{{radio('r3','rdo','val3','Value3')}}
		</div>
		
		
		<div class="form-group">
			<div class="form-check">
				<input type="radio" class="form-check-input">
				<label for="" class="form-check-label">
				Default radio
				</label>
			</div>
			<div class="form-check">
				<input type="radio" class="form-check-input">
				<label for="" class="form-check-label">
				Second default radio\\\\\\\\\
				</label>
			</div>
		</div>

    {{radios(radioList)}}

    {{textarea('idta','content','default value')}}

    {{checkbox( dict(id='chk1', name='chkname1', checked='checked', text='TEXT') )}}
    
    {{select( [dict(id='selid1', text='seltext1', selected=True), dict(id='selid2', text='seltext2', selected=False)] )}}
  </form>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl1">
      Launch modal
    </button>
  <button type="button" class="btn btn-primary" onclick="openModal('mdl1')">
      Launch-2 modal
    </button>

    {% call modal('mdl2','테스트모달2', 'fas fa-clock', True, "alert('111111')" ) %}
      <h3>Modal body</h3>
    {% endcall %}

    {% call modal('mdl1','테스트모달', 'fas fa-clock', True, 'fn_test()' ) %}
      <h3>Modal body</h3>
      <script>
      function fn_test(){
        alert('qqqqqqqqqqqq');
        closeModal('mdl1');
      }
      </script>
    {% endcall %}

	
	<select name="" id="">
		<option value="{{val}}">{{text}}</option>
		<option value=""></option>
		<option value=""></option>
	</select>
	
{% endblock %}


{% block main %}


      <!--Section: Magazine v.1-->
      <section id = "magazine" class="wow fadeIn">

            <!--Section heading-->
            <h2 class="h1 text-center my-5 font-weight-bold">Magazine NewsFeed</h2>
    
            <!--Grid row-->
            <div class="row text-left">
    
              <!--Grid column-->
              <div class="col-lg-6 col-md-12">
    
                <!--Image-->
                <div class="view overlay rounded z-depth-1-half mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg" class="img-fluid" alt="Sample post image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
    
                <!--Excerpt-->
                <div class="news-data">
                  <a href="" class="light-blue-text">
                    <h6>
                      <i class="fas fa-song"></i>
                      <strong> Songs</strong>
                    </h6>
                  </a>
                  <p>
                    <strong>
                      <i class="far fa-clock"></i> 20/08/2018</strong>
                  </p>
                </div>
                <h3>
                  <a>
                    <strong>Today's Top 100</strong>
                  </a>
                </h3>
                <!-- <p> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                </p> -->
    
                <!--/Featured news-->
    
                <hr>
    
                <!--Small news-->
                <div class="row">
                  <div class="col-md-2"><h1 class="text-primary">100</h1></div>
                  <div class="col-md-2">
    
                    <!--Image-->
                    <div class="view overlay rounded z-depth-1x">
                      <img src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" class="img-fluid" alt="Minor sample post image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  </div>
    
                  <!--Excerpt-->
                  <div class="col-md-8">
                    <p class="dark-grey-text">
                      <strong>19/08/2018</strong>
                    </p>
                    <a><small class="text-muted"><i class="fas fa-compact-disc"></i> circular</small>
                      <i class="fas fa-angle-left float-right"></i>
                    </a>
                  </div>
    
                </div>
    
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> <i class="fas fa-thumbs-up"></i> <strong class="float-right">홍길동</strong></li>
                            <li class="list-group-item"> <small class="text-muted">작사</small> <strong class="float-right">홍길동</strong></li>
                            <li class="list-group-item"> <small class="text-muted">작사</small> <strong class="float-right">홍길동</strong></li>
                          </ul>
                    </div>
                </div>
                <!--/Small news-->
    
                <hr>
    
                <!--Small news-->
                <div class="row">
                  <div class="col-md-3">
    
                    <!--Image-->
                    <div class="view overlay rounded z-depth-1">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/54.jpg" class="img-fluid" alt="Minor sample post image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  </div>
    
                  <!--Excerpt-->
                  <div class="col-md-9">
                    <p class="dark-grey-text">
                      <strong>18/08/2018</strong>
                    </p>
                    <a>Soluta nobis est eligendi
                      <i class="fas fa-angle-right float-right"></i>
                    </a>
                  </div>
    
                </div>
                <!--/Small news-->
    
                <hr>
    
                <!--Small news-->
                <div class="row">
                  <div class="col-md-3">
    
                    <!--Image-->
                    <div class="view overlay rounded z-depth-1">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="Minor sample post image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  </div>
    
                  <!--Excerpt-->
                  <div class="col-md-9">
                    <p class="dark-grey-text">
                      <strong>17/08/2018</strong>
                    </p>
                    <a>Voluptatem accusantium doloremque
                      <i class="fas fa-angle-right float-right"></i>
                    </a>
                  </div>
    
                </div>
                <!--/Small news-->
    
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-lg-6 col-md-12">
    
                <!--Image-->
                <div class="view overlay rounded z-depth-1-half mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/images/32.jpg" class="img-fluid" alt="Sample post image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
    
                <!--Excerpt-->
                <div class="news-data">
                  <a href="" class="light-blue-text">
                    <h6>
                      <i class="fas fa-song"></i>
                      <strong> Songs</strong>
                    </h6>
                  </a>
                  <p>
                    <strong>
                      <i class="far fa-clock"></i> 20/08/2018</strong>
                  </p>
                </div>
                <h3>
                  <a>
                    <strong>This is title of the news</strong>
                  </a>
                </h3>
                <p> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                </p>
    
                <!--/Featured news-->
    
                <hr>
    
                <!--Small news-->
                <div class="row">
                  <div class="col-md-3">
    
                    <!--Image-->
                    <div class="view overlay rounded z-depth-1">
                      <img src="https://mdbootstrap.com/img/Photos/Others/photo11.jpg" class="img-fluid" alt="Minor sample post image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  </div>
    
                  <!--Excerpt-->
                  <div class="col-md-9">
                    <p class="dark-grey-text">
                      <strong>19/08/2018</strong>
                    </p>
                    <a>Lorem ipsum dolor sit amet
                      <i class="fas fa-angle-right float-right"></i>
                    </a>
                  </div>
    
                </div>
                <!--/Small news-->
    
                <hr>
    
                <!--Small news-->
                <div class="row">
                  <div class="col-md-3">
    
                    <!--Image-->
                    <div class="view overlay rounded z-depth-1">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/51.jpg" class="img-fluid" alt="Minor sample post image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  </div>
    
                  <!--Excerpt-->
                  <div class="col-md-9">
                    <p class="dark-grey-text">
                      <strong>18/08/2018</strong>
                    </p>
                    <a>Soluta nobis est eligendi
                      <i class="fas fa-angle-right float-right"></i>
                    </a>
                  </div>
    
                </div>
                <!--/Small news-->
    
                <hr>
    
                <!--Small news-->
                <div class="row">
                  <div class="col-md-3">
    
                    <!--Image-->
                    <div class="view overlay rounded z-depth-1">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/44.jpg" class="img-fluid" alt="Minor sample post image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  </div>
    
                  <!--Excerpt-->
                  <div class="col-md-9">
                    <p class="dark-grey-text">
                      <strong>17/08/2018</strong>
                    </p>
                    <a>Voluptatem accusantium doloremque
                      <i class="fas fa-angle-right float-right"></i>
                    </a>
                  </div>
    
                </div>
                <!--/Small news-->
    
              </div>
              <!--Grid column-->
    
            </div>
            <!--Grid row-->
    
          </section>
          <!--/Section: Magazine v.1-->
    

{% endblock main %}